*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 30px;
    padding-top: 40px;
    margin: auto;
}

.sideBar{
    height: 91vh;
    background-color: #2a2a2a;
    border-radius: 15px;
    border: 1px solid #3a3a3a;
    padding: 30px;
    position: sticky;
    top: 40px;
}

.Content{
    /* height: 90vh; */
    background-color: #2a2a2a;
    border-radius: 15px;
    border: 1px solid #3a3a3a;
    padding: 40px;
}

/* Profile Section */

.Profile{
    text-align: center;
}

.Profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.Profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    color: #e0e0e0;
}

.Profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: rgb(157, 73, 193);
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* Contact Information */

.Contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 10px;
}

/* Social media */

.Social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.Social img{
    height: 30px;
    width: 30px;
    margin: 10px;
    filter: grayscale(1) invert(0.7);
    transition: all 0.3s ease;
}

.Social img:hover{
    filter: brightness(0) saturate(100%) invert(35%) sepia(27%) saturate(2479%) hue-rotate(249deg) brightness(96%) contrast(91%);
    transform: scale(1.2);
}

/* Main content */

/* 1. Navigation Bar */

#Navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #3a3a3a;
    padding-top: 5px;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}
nav a:hover{
    color: rgb(157, 73, 193);
    transform: scale(1.2);
}

/* 2. About Me */

#About{
    margin-bottom: 40px;
}

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 10px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: rgb(157, 73, 193);
    margin-bottom: 15px;
}

.Para{
    text-align: justify;
}

.Skills{
    margin-bottom: 40px;
}

/* Skills Section */


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 30px;
}

.item{
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, boxshadow 0.3s ease;
}

.item img{
    height: 70px;
    width: 70px;
    filter: brightness(0) saturate(100%) invert(35%) sepia(27%) saturate(2479%) hue-rotate(249deg) brightness(96%) contrast(91%);
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 2px;
}

/* Education Section */

#Education{
    margin-top: 40px;
}

.edtech{
    /* padding-left: 30px; */
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 5px;
}

.clg{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 8px;
}

.work{
    color: #a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
}

.circle{
    height: 15px;
    width: 15px;
    border: 3px solid rgb(157, 73, 193);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 1;
}

.liner{
    position: absolute;
    width: 2px;
    top: 4px;
    left: 6px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
}

/* Project Sectiom */


.project-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 2px;
}

.project img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 25px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: #2a2a2a;
    color: rgb(157, 73, 193);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: 600;
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sideBar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sideBar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}



